GITHUB_USERNAME=ronexenaad23-arch
GITHUB_TOKEN=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
NETLIFY_AUTH_TOKEN=nfp_fod2NsZJbnpTEfAjPqRY3GXAF3otX7Z4fd3d
NETLIFY_SITE_ID=f9c795d6-bbb4-4a70-abfc-f01ebe859aa5
